:root {
    --verde: #00c22b;
    --color-msg: #a8a8a8;
    --vermelho: #F52E2E;
    --preto: #000000;
    --branco: #ffffff;
    --alinhamento-grande: 23.44px;
    --alinhamento-medio: 17.58px;
    --alinhamento-pequeno:9.38px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    min-height: 100vh;
    width: 100%;
    background-image: url(../imagens/bg-repeat.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

@media (max-width: 700px) {
    body{
        flex-direction: column
    };
}
.secao-mensagem {
    max-width: 300px;
    color: var(--branco) ;
}

.secao-mensagem h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: var(--alinhamento-grande);
}

.secao-mensagem p {
    font-size: 15px;
    font-weight: 400;
}

.formulario {
    background-color: var(--branco);
    max-width: 340px;
    padding: 20px;
    line-height: var(--alinhamento-medio);
    text-align: top;
}

.formulario .controle {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
::-webkit-input-placeholder { 
    color: var(--color-msg);
}

.formulario .campo {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    color: var(--preto);
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid;
    resize: none;
    margin-bottom:2px;
    line-height: var(--alinhamento-medio);
}

.formulario small {
    font-size: 8px;
    visibility: hidden;
    line-height: var(--alinhamento-pequeno);
}

.formulario label{
    font-size: 15px;
    font-weight: 400px;
    line-height: var(--alinhamento-medio);
}
.btn-submit {
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    border: none;
    background-color: var(--verde);
    color: var(--branco);
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
}

.controle.com-texto .campo {
    border-color: var(--verde);
}

.controle.em-branco .campo {
    border-color: var(--vermelho);
}

.controle.em-branco small {
    visibility: visible;
    color: var(--vermelho);
}